.messages > h1 {
    text-transform: uppercase;
    padding: 1rem;
}

.messages_top {
    width: 100%;
}

.messages_top > h2 {
    text-transform: capitalize;
}

.messages_top > div {
    display: flex;
    margin-top: 0.5rem;
}

.messages_top > div > input {
    padding: 0.5rem 1rem;
    width: 100%;
}

@media only screen and (max-width: var(--laptop-width)) {
    /*  */
}

@media only screen and (max-width: var(--tablet-width)) {
    /*  */
}

@media only screen and (max-width: var(--mobile-width)) {
    /*  */
}
