.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid black;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    width: min(1920px, 100%);
    height: 100%;
}
.logo {
    width: auto;
    height: 100%;
}
.logo > img {
    width: auto;
    height: 100%;
    mix-blend-mode: darken;
    padding-left: 1rem;
}
.search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: min(960px, 50%);
    height: 100%;
    padding: 0 0.5rem;
}
.search_button {
    position: absolute;
    left: 1rem;
}
.search_button > i {
    color: black;
}
.search_bar {
    width: 100%;
    height: 60%;
    padding-left: 2rem;
}
.auth {
    display: none;
    gap: 1rem;
    padding-right: 1rem;
}
.auth_button {
    width: fit-content;
    padding: 0.5rem 1rem;
    text-transform: capitalize;
    border-radius: 0.5rem;
    outline: none;
    border: 1px solid black;
}
.auth_button:first-of-type {
    background-color: white;
    color: black;
}
.auth_button:last-of-type {
    background-color: mediumslateblue;
    color: white;
}
.cta {
    display: flex;
}
.cta_lightmode {
    width: 5rem;
    background-color: red;
}
.cta_lightmode_button {}
.cta_lightmode_button > i {}
.cta_lightmode_button_switch {}
.cta_lightmode_button_switch > i {}
.cta_language {}
.cta_language_output {}
.cta_language_dropdown {
    display: none;
}
.cta_profile {}
.cta_profile_image {}
.dropdown {
    display: none;
}
.dropdown_button {}
.indicator {}

@media only screen and (max-width: var(--laptop-width)) {
    /*  */
}

@media only screen and (max-width: var(--tablet-width)) {
    /*  */
}

@media only screen and (max-width: var(--mobile-width)) {
    /*  */
}
