.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid black;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: min(1920px, 100%);
    height: 100%;
}
.logo {
    width: auto;
    width: 25%;
    height: 100%;
    cursor: pointer;
}
.logo > img {
    width: auto;
    height: 100%;
    mix-blend-mode: darken;
    padding-left: 1rem;
}
.search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(960px, 50%);
    width: 50%;
    height: 100%;
    padding: 0 0.5rem;
}
.search_button {
    position: absolute;
    left: 1rem;
}
.search_button > i {
    color: black;
}
.search_bar {
    width: 100%;
    height: 60%;
    padding-left: 2rem;
}
.auth {
    display: none;
    gap: 1rem;
    justify-content: center;
    width: 25%;
}
.auth_button {
    width: fit-content;
    padding: 0.5rem 1rem;
    text-transform: capitalize;
    border-radius: 0.5rem;
    outline: none;
    border: 1px solid black;
}
.auth_button:first-of-type {
    background-color: white;
    color: black;
}
.auth_button:last-of-type {
    color: white;
}
.cta {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    width: 25%;
}
.cta_lightmode {
    width: fit-content;
}
.cta_lightmode_button {
    border-radius: 1.5rem;
    position: relative;
    width: 3rem;
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    overflow: hidden;
    outline: none;
    border: 1px solid black;
    /* background-color: green; */
    background-color: red;
    cursor: pointer;
}
.cta_lightmode_button > i {
    opacity: 75%;
    font-size: 0.5rem;
}
.cta_lightmode_button_switch {
    border-radius: 1.5rem;
    position: absolute;
    /* right: -1px; */
    left: -1px;
    top: -1px;
    background-color: white;
    width: 1.5rem;
    height: 1.5rem;
    box-sizing: content-box;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta_lightmode_button_switch > i {
    color: black;
}
.cta_language {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
}
.cta_language_output {
    font-size: 1rem;
}
.cta_language > i {
    scale: 0.7;
}
.cta_language_dropdown {
    display: none;
}
.cta_profile {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
}
.cta_profile_image {
    width: auto;
}
.dropdown {
    display: none;
}
.dropdown_button {
    width: auto;
}
.indicator {
    width: fit-content;
}

@media only screen and (max-width: var(--laptop-width)) {
    /*  */
}

@media only screen and (max-width: var(--tablet-width)) {
    /*  */
}

@media only screen and (max-width: var(--mobile-width)) {
    /*  */
}
