.homefeed_sharepost {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #f3f3f3;
    border-bottom: 1px solid #dfdfdf;
}
.homefeed_sharepost_top {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}
.homefeed_sharepost_top > div:first-of-type {
    border: 1px solid black;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    overflow: hidden;
}
.homefeed_sharepost_top > div:first-of-type > img {
    width: 100%;
    height: 100%;
}
.homefeed_sharepost_top > div:last-of-type {
    width: auto;
    flex-grow: 1;
}
.homefeed_sharepost_top > div:last-of-type > textarea {
    width: 100%;
    resize: none;
    padding: 0.5rem;
    font-family: sans-serif;
}
.homefeed_sharepost_tagbreadcrumb {
    display: flex;
    padding: 0.5rem 0 0.5rem 1rem;
    gap: 0.5rem;
    border: 1px solid black;
    margin: 0 1rem;
    background-color: red;
}
.homefeed_sharepost_preferences {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    padding: 0 10rem 0 1rem;
}
.homefeed_sharepost_preferences > div > div:first-of-type {
    display: flex;
    gap: 0.5rem;
}
.homefeed_sharepost_preferences > div > div:first-of-type > i {
    color: black;
}
.homefeed_sharepost_preferences > div > div:first-of-type > input[type=file] {
    width: auto;
}
.homefeed_sharepost_preferences > div > div:first-of-type > span {
    color: gray;
}
.homefeed_sharepost_preferences > div > div:last-of-type {
    display: flex;
    flex-direction: column;
    max-height: 7rem;
    overflow: hidden;
    transition: 250ms ease-in;
    border: 1px solid transparent;

    &:hover {
        max-height: 20rem;
        transition: 250ms ease-out;
        border: 1px solid black;
    }
}
.homefeed_sharepost_preferences > span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.homefeed_sharepost_preferences > span:first-of-type > i {
    color: black;
}
.homefeed_sharepost_preferences > span:first-of-type > input[type=text] {
    width: auto;
    padding: 0.25rem 0.5rem;
}
.homefeed_sharepost_preferences > span:first-of-type > button {
    width: auto;
}
.homefeed_sharepost_preferences > span:last-of-type {
    width: auto;
}
.homefeed_sharepost_preferences > span:last-of-type > div {
    width: auto;
}
.homefeed_sharepost_preferences > span:last-of-type > div > div:first-of-type {
    display: flex;
    gap: 0.5rem;
}
.homefeed_sharepost_preferences > span:last-of-type > div > div:first-of-type > i {
    color: black;
}
.homefeed_sharepost_preferences > span:last-of-type > div > div:first-of-type > div {
    display: flex;
    align-items: end;
    gap: 0.5rem;
}
.homefeed_sharepost_preferences > span:last-of-type > div > div:first-of-type > div > span {
    text-transform: capitalize;
}
.homefeed_sharepost_preferences > span:last-of-type > div > div:first-of-type > div > i {
    font-size: 0.8rem;
}
.homefeed_sharepost_preferences > span:last-of-type > div > div:last-of-type > div {
    display: none;
}
.homefeed_sharepost_preferences > span:last-of-type > div > div:last-of-type > div > i {
    width: auto;
}
.homefeed_sharepost_preferences > span:last-of-type > div > div:last-of-type > div > span {
    width: auto;
}
.homefeed_sharepost > button {
    width: fit-content;
    align-self: flex-end;
    margin: 1rem 1rem 1rem 0;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 0.25rem;
    text-transform: uppercase;
    color: white;
    background-color: purple;
    cursor: pointer;
}

@media only screen and (max-width: var(--laptop-width)) {
    /*  */
}

@media only screen and (max-width: var(--tablet-width)) {
    /*  */
}

@media only screen and (max-width: var(--mobile-width)) {
    /*  */
}
