@import "../../../assets/styles/animations.css";

.loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    background-color: #f3f3f3;
    cursor: pointer;
}

.loading {
    animation: spin var(--very-slow) var(--linear) 0s infinite;
}

@media only screen and (max-width: var(--laptop-width)) {
    /*  */
}

@media only screen and (max-width: var(--tablet-width)) {
    /*  */
}

@media only screen and (max-width: var(--mobile-width)) {
    /*  */
}
