.postcard {
    border: 1px solid #cfcfcf;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.postcard_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.postcard_top > a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.postcard_top > a > div:first-of-type {
    border: 1px solid black;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    overflow: hidden;
}

.postcard_top > a > div:first-of-type > img {
    width: 100%;
    height: 100%;
}

.postcard_top > a > div:last-of-type {
    width: auto;
}

.postcard_top > a > div:last-of-type > div:first-of-type {
    display: flex;
    gap: 0.5rem;
}

.postcard_top > a > div:last-of-type > div:first-of-type > span {
    font-weight: 900;
}

.postcard_top > a > div:last-of-type > div:last-of-type {
    display: flex;
    gap: 0.5rem;
}

.postcard_top > a > div:last-of-type > div:last-of-type > span {
    color: #00000075;
    font-style: italic;
}

.postcard_top > a > div:last-of-type > div:last-of-type > span:nth-last-of-type(2) {
    opacity: 75%;
}

.postcard_top > div {
    width: auto;
}

.postcard_top > div > button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.postcard_top > div > button > i {
    color: black;
}

.postcard_content {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.postcard_content > p {
    font-family: sans-serif;
    line-height: 1.5;
}

.postcard_tags {
    display: flex;
    gap: 1rem;
}

.postcard_tags > a {
    background-color: #dfdfdf;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
}

.postcard_medias {
    position: relative;
    width: 100%;
    min-height: 20rem;
    border: 1px solid #6200ff;
    background: radial-gradient(#e4ab55, #cc5959);
    overflow: hidden;
}

.postcard_medias > span {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    transition: 250ms ease-in-out;

    &:hover {
        filter: invert(1);
    }
}

.postmedia {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 150ms linear;
}

.postmedia > img {
    width: auto;
    height: 100%;
}

.postcard_medias > button {
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    width: 2rem;
    height: 2rem;
    border: 1px solid #34ccf1;
    border-radius: 50%;
    background: #34ccf150;
    opacity: 75%;
    transition: 250ms ease-in-out;

    &:disabled {
        opacity: 50%;
    background: #34ccf110;
    }
    &:hover:not(:disabled) {
        background: #34ccf1;

        & > i {
            color: white;
        }
    }
}

.postcard_medias > button:first-of-type {
    left: 1rem;
}

.postcard_medias > button:last-of-type {
    right: 1rem;
}

.postcard_medias > button > i {
    color: #34ccf1;
    transition: 250ms ease-in-out;
}

.postcard_features {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.postcard_features > div:first-of-type {
    display: flex;
    gap: 1rem;
}

.postcard_features > div:first-of-type > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.postcard_features > div:first-of-type > div > span {
    color: black;
}

.postcard_features > div:first-of-type > div > button {
    padding: 0.25rem 0.5rem;
    display: flex;
    gap: 0.5rem;
    border-radius: 1rem;
    outline: none;
    border: 1px solid gray;
    cursor: pointer;
}

.postcard_features > div:first-of-type > div > button > i {
    color: black;
}

.postcard_features > div:first-of-type > div:first-of-type > button > i {
    color: green;
}

.postcard_features > div:first-of-type > div:last-of-type > button > i {
    color: red;
}

.postcard_features > div:first-of-type > div > button > span {
    text-transform: capitalize;
}

.postcard_features > div:last-of-type {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.postcard_features > div:last-of-type > span {
    color: black;
}

.postcard_features > div:last-of-type > button {
    padding: 0.25rem 0.5rem;
    display: flex;
    gap: 0.5rem;
    border-radius: 1rem;
    outline: none;
    border: 1px solid gray;
    cursor: pointer;
}

.postcard_features > div:last-of-type > button > i {
    color: black;
    font: 1rem;
}

.postcard_features > div:last-of-type > button > span {
    text-transform: capitalize;
}
