.notifications > h1 {
    text-transform: uppercase;
    padding: 1rem;
}

.notifications_top {
    display: flex;
    justify-content: space-between;
}

.notifications_top > div {
    display: flex;
    gap: 0.25rem;
    padding: 0 1rem;
}

.notifications_top > div > button {
    text-transform: capitalize;
    padding: 0.25rem 0.5rem;
    border: 1px solid #303030;
    border-radius: 0.25rem;
}

.notifications_top > button {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
}

.notifications_top > button > span {
    text-transform: capitalize;
}

.notifications_top > button > i {
    font-size: 1rem;
}

@media only screen and (max-width: var(--laptop-width)) {
    /*  */
}

@media only screen and (max-width: var(--tablet-width)) {
    /*  */
}

@media only screen and (max-width: var(--mobile-width)) {
    /*  */
}
