:root {
    /* COLORS */
    --color: #ffffff;

    /* BACKGROUNDS */
    --x: 0;

    /* MARGINS */
    --margin-center: 0 auto;

    /* PADDINGS */
    --x: 0;

    /* TRANSITIONS */
    --x: 0;

    /* ANIMATIONS */
    --x: 0;
}
